body {
  background: url("prettybg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.container {
  margin: auto;
  width: max-content;
  background-color: rgb(198, 163, 215);
  padding: 30px;
  margin-top: 10%;
  margin-bottom: 10%;
}

#bgdrawing {
  margin: auto;
}

h4 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: medium;
}

#aboutme {
  margin-top: 0px;
  position: block;
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 13px;
  width: 610px;
}
/* 
#bg {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  
  position: relative;
  z-index: 1;
}

#box1 {
  left: 50px;
  top: 50px;

  width: 100px;
  height: 270px;
  background-color: black;
  
  position: relative;
  z-index: 2;
} */
